/* All */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hide{
  display: none;
}

/* Header */
nav{
  display: inline-block;
  width: 100%;
  background: linear-gradient(to right, #152732, #999897, #152732);
  padding: 20px 10px 0px 10px;
  color: #a80606;
  position: fixed;
  z-index: 10;
}
.menu-icon-div{
  padding-bottom: 20px;
}
.menu-icon-bar, .menu-icon-x{
  font-size: 30px;
  padding: 5px 10px;
  background: linear-gradient(to bottom, #152732, #607172, #152732);
  color: #ffffff;
  cursor: pointer;
}
.add-effect:active{
  transform: scaleX(0);
  transform: scaleY(0);
  transition: transform 500ms ease-in;
}
.logo{
  display: inline-block;
  width: 85%;
  float: left;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
.logo span{
  text-shadow: 2px 1px #d3bdc0;
}
.amb-color{
  color: #ff3050
}
.logo::after{
  content: "";
  clear: both;
}
.menu-items{
  list-style-type: none;
}
.menu-item{
  text-align: center;
  font-size: 20px;
}
.menu-item a{
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  line-height: 80px;
}
.menu-item:hover{
  background-color: #192939;
}

/* Section */
section.carousal{
  padding: 120px 0px 0px 0px;
}
section.main-content{
  padding: 40px 10%; 
}
.menu-transversal{
  padding-left: 5%;
  padding-bottom: 20px;
}
.menu-transversal span{
  padding: 0px 5px;
  color: #192939;
}
.menu-transversal a{
  text-decoration: none;
}
/* Main */
main{
  padding: 40px 0px;
}
.img-text{
  position: relative;
  width: 100%;
  height: 500px;
}
.img-text img{
  display: block;
  width: 100%;
  height: 100%;
}
.small-big::after{
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgba(200, 200, 200, 0.5);
  /* transform: scaleX(1) */
  z-index: 100;
}
.img-text div{
  position: absolute;
  width: 100%;
  bottom: 0px;
  opacity: 0.5;
  background-color: #9a9b99;
}
.img-text div::after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e62a2a;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1000ms ease-in;
}
.img-text div:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
.img-text h2{
  text-align: center;
}
.img-ctl-buttons{
  padding: 20px 0px;
  text-align: center;
}
.img-ctl-buttons span:first-child{
  background-color: #ff3050;
}
.rd-button{
  border: solid 1px #e62a2a;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
}
.dwnd{
  border-top: solid 1px#aaaaaa;
  border-style: inset;
  padding: 20px 0px;
}
.dwnd span, .dwnd-audio audio{
  vertical-align: middle;
}
.dwnd-dot{
  font-size: 2.5em;
}
.dwnd-img img{
  display: inline-block;
  width: 20%;
  border-radius: 5%;
  vertical-align: middle;
}

/* Article */
.show{
  padding-top: 40px;
  border-style: solid 1px #aaaaaa;
  box-shadow: 2px 2px #cccccc;
  text-align: center;
}
.h-line{
  display: inline-block;
  width: 20%;
  height: 2px;
  background-color: #aaaaaa;
}
.w-e-d{
  padding-top: 20px;
  text-align: initial;
}
.w-e-d .icon-div{
  display: inline-block;
  width: 20%;
  text-align: left;
}
.w-e-d-icon{
  display: inline-block;
  text-align: center;
  line-height: 50px ;
  width: 50px;
  background-color: #20ff20;
  border-radius: 50%;
}
.v-line{
  display: inline-block;
  border-left: 1px solid #aaaaaa;
  vertical-align: middle;
}
.w-e-d .v-line{
  width: 5%;
  height: 30px;
}
.about h2{
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}
.slant-img{
  display: inline-block;
  float: left;
  width: 40%;
  text-align: center;
  border-right: solid 1px #999897;
}
.slant-img > img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.shdw{
  width: 100%;
}
.shdw img{
  width: 100px;
  height: 10px;
  border-radius: 100%;
  transform: rotate(180deg);
}
.about-div{
  display: inline-block;
  width: 60%;
  float: left;
}
.about-div p{
  padding-left: 0.5%;
  width: 94%;
  float: right;
}
aside{
  display: inline-block;
  width: 100%;
  padding-top: 50px;
}
aside > h2{
  text-align: center;
  padding-bottom: 20px;
}
form{
  padding-top: 10px;
}

/* Footer */
footer{
  padding-top : 20px;
  background-color: #152732;
  color: #ffffff;
  text-align: center;
}

.phn, .email{
  padding-top: 40px;
}
.phn li, .email li{
  list-style-type: none;
  padding: 10px 0px;
}
footer .h-line{
  width: 90%;
}
.copy-rgt{
  padding: 20px 0px;
}
.d-rgt{
  padding-bottom: 20px;
}