/* All */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hide{
  display: none;
}

/* Header */
nav{
  display: inline-block;
  width: 100%;
  background: linear-gradient(to right, #152732, #999897, #152732);
  padding: 20px 10px 0px 10px;
  color: #a80606;
  position: fixed;
  z-index: 10;
}
.menu-icon-div{
  padding-bottom: 20px;
}
.menu-icon-bar, .menu-icon-x{
  font-size: 30px;
  padding: 5px 10px;
  background: linear-gradient(to bottom, #152732, #607172, #152732);
  color: #ffffff;
  cursor: pointer;
  float: right;
}
.add-effect:active{
  transform: scaleX(0);
  transform: scaleY(0);
  transition: transform 500ms ease-in;
}
.logo{
  float: left;
  font-size: 30px;
  padding-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.logo span{
  text-shadow: 2px 1px #d3bdc0;
}
.amb-color{
  color: #ff3050
}
.logo::after{
  content: "";
  clear: both;
}
.menu-items{
  list-style-type: none;
}

.menu-item{
  text-align: center;
  font-size: 20px;
}
.menu-item a{
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  line-height: 80px;
}
.menu-item a:hover{
  background-color: #192939;
  border-top: solid 2px #2858dd;
  transition: all 1s ease-in-out;
}

/* Section */
section.carousal{
  padding: 120px 0px 0px 0px;
}
section.main-content{
  padding: 40px 5px; 
}
.menu-transversal{
  padding-left: 5%;
  padding-bottom: 20px;
}
.menu-transversal span{
  padding: 0px 5px;
  color: #192939;
}
.menu-transversal a{
  text-decoration: none;
}
/* Main */
main{
  padding: 40px 0px;
}
.img-text{
  position: relative;
  width: 100%;
  height: 500px;
}
.img-text img{ 
  display: block;
  width: 100%;
  height: 100%;
}
.big-small{
  animation: big--small 2s linear forwards;
  animation-direction: alternate;
}
@keyframes big--small{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.img-text div{
  position: absolute;
  width: 100%;
  bottom: 0px;
  opacity: 0.5;
  background-color: #9a9b99;
}
.img-text div::after{
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #e62a2a;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1000ms ease-in;
}
.img-text div:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
.img-text h2{
  text-align: center;
}
.img-ctl-buttons{
  padding: 20px 0px;
  text-align: center;
}
.img-ctl-buttons span:first-child{
  background-color: #2858dd;
}
.rd-button{
  border: solid 1px #2858dd;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
}
.rd-button:hover{
  border: solid 2px #2858dd;
}
.linear-text{
  display: inline-block;
  width: 100%;
  padding: 20px 0px;
  color: white;
  text-align: center;
  font-size: 2em;
}
.bkg-linear{
  background: url("../images/ijaw.jpg");
}
.dwnd-div{
  margin-top: 100px;
  text-align: center;
}
.dwnd-div > h2{
  margin-bottom: 50px;
  font-size: 2.0em;
}
.dwnd{
  margin-bottom: 20px;
  padding: 20px 0px;
  border: solid 2px #cccccc;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px#dddddd;
}
.dwnd h2{
  margin-bottom: 20px;
}
.dwnd-img img{
  display: inline-block;
  width: 90%;
  height: 400px;
  border-radius: 5%;
  margin-bottom: 20px;
}
.dwnd-audio{
  display: inline-block;
  text-align: center;
  margin: 0px auto;
}
.dwnd-audio audio{
  display: block;
  border-radius: 5%;
  margin-bottom: 20px;
}
.dwnd-icon-div{
  display: inline-block;
  text-align: center;
  padding: 10px 10px;
  background: initial;
  color: #2858dd;
  border: solid 1px #2858dd;
  border-radius: 5px;
}
.dwnd-icon-div span:first-child{
  padding-right: 20px;
}

/* Article */
.show{
  text-align: center;
}
.show > h2{
  margin-bottom: 30px;
  font-size: 3em;
}
.w-e-d + .w-e-d{
  margin-top: 1px;
}
.w-e-d > *{
  color: white;
}
.w-e-d > h3{
  background-color: #2858dd;
  padding: 20px 10px;
  font-size: 1.5em;
  height: 150px;
}
.w-e-d .front, .w-e-d .back{
  background-color: #2858dd;
  height: 140px;
  padding: 20px 0px;
}
.w-e-d-icon{
  display: inline-block;
  background-color: #537be7;
  text-align: center;
  line-height: 100px;
  font-size: 4.5em;
  width: 100px;
  border-radius: 50%;
}

/* About */
.about h2{
  margin-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}
.slant-img{
  float: left;
  width: 120px;
  text-align: center;
  border-right: solid 1px #e9e6e4;
}
.slant-img > img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.shdw{
  width: 100%;
}
.shdw img{
  width: 100px;
  height: 10px;
  border-radius: 100%;
  transform: rotate(180deg);
}
.about-div{
  width: 60%;
  width: calc(100% - 120px);
  float: left;
  border-left: solid 4px #2858dd;
  background-color: #dddddd;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 120px;
}
.about > h2{
  font-size: 3em;
  padding-top: 50px;
}
.about-div p{
  padding-left: 0.5%;
  width: 94%;
  float: right;
}
aside{
  display: inline-block;
  width: 100%;
  padding-top: 50px;
}
aside > h2{
  text-align: center;
  padding-bottom: 20px;
}
/* Form */
form{
  padding-top: 10px;
}
.input{
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 5px;
  background-color: #dddddd;
  border: #cccccc solid 1px;
  border-radius: 5px;
}
input{
  height: 40px;
}
textarea{
  height: 200px;
  padding-top: 10px;
}
form div:last-child{
  text-align: center;
}

form button{
  display: inline-block; 
  padding: 10px 40px;
  background-color: #2858dd;
  border-radius: 5px;
}
form button:hover{
  cursor: pointer;
}

/* Footer */
footer{
  padding-top : 20px;
  background-color: #152732;
  color: #ffffff;
  text-align: center;
}

.phn, .email{
  padding-top: 40px;
}
.phn li, .email li{
  list-style-type: none;
  padding: 10px 0px;
}

.h-line{
  width: 90%;
  display: inline-block;
  height: 2px;
  background-color: #aaaaaa;
}
.copy-rgt{
  padding: 20px 0px;
}
.d-rgt{
  padding-bottom: 20px;
}